<table class="table table-hover table-sm table-bordered table-striped">
  <thead>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">MARCA</th>
      <th class="text-center">AÑO</th>
      <th class="text-center">USADO</th>
    </tr>
  </thead>
  <tbody></tbody>
  <tbody>
    <tr *ngFor="let auto of automoviles">
      <td>{{ auto.id }}</td>
      <td class="text-right">{{ auto.Marca }}</td>
      <td class="text-right">{{ auto.Anio }}</td>
      <td class="text-right">{{ auto.Usado ? 'SI' : 'NO' }}</td>
    </tr>
  </tbody>
</table>

<form>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-2">
      <label class="col-form-label">Marca:</label>
    </div>
    <div class="col-sm-8 col-md-4">
      <input type="text" id = "Mar" name="Mar" class="form-control"  maxlength="55"/>
    </div>
  </div>
  <hr>
  <!-- Botones -->
  <div class="row justify-content-center botones">
    <button type="button" class="btn btn-primary" (click)="buscar()">
          <i class="fa fa-search"> </i> Buscar
      </button>
  </div>
</div>
</form>
